<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Snake!</title>
    <script src="lib/angular.min.js"></script>
    <script src="snake.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style/style.css" title="Default stylesheet"/>
  </head>
  <body ng-app='Snake' ng-controller="gameCtrl"  ng-keydown="keyPress($event)">
    <div id="container">

      <div class="cover" ng-show="showCover" ></div>
      <div class="inputName" ng-show="showInput">
        <h1>Input Player Name</h1>
        <form ng-submit="submitPlayerName()" class="inputField">
          <input type="text" placeholder="Player Name" ng-model="playerName">
        </form>
      </div>

      <div class="samePlayerMsg" ng-show="samePlayer">
        <h1>Existing Player Name</h1>
        <h1>K: Continue</h1>
        <h1>J: Change Player</h1>
      </div>

      <div class="gameInstruction" ng-show="gameInstruct">
        <h1>K: Start Game</h1>
        <h1>J: Change Player</h1>
        <h3>Use W, A, S, D, or Arrow Keys</h3>
      </div>

      <div class="gameBoard">
        <span class="title-left">
          <h1>Snake</h1>
          <!-- <button ng-click="startGame()">Start Game!</button> -->
        </span>

        <span id="selector">
          <select name="levelSelector" id="levelSelector" ng-model="level">
            <option value='80'>Easy</option>
            <option value='50' selected>Normal</option>
            <option value='35'>Hard</option>
            <option value='25'>Extreme</option>
          </select>
        </span>

        <span class="thisPlayer"><h1>{{playerName}}</h1></span>
        <div ng-keypress="changeDirection()">
          <canvas width={{gameState.gameWindow.width}} height={{gameState.gameWindow.height}} id="board" ></canvas>
        </div>
        <div style="float:right; width:160px; text-align:right;">
          <h2>Game state</h2>
          Current Score: {{gameState.body.length}}
        </div>
        <div class="leaderBoard">
          <h2>Leaderboard</h2>
          <ol>
            <li ng-repeat="player in allPlayers | orderBy: '-highScore' | limitTo:8">{{player.name}}: {{player.highScore}}</li>
          </ol>
        </div>
      </div>
    </div>
  </body>
</html>
