body {
  margin-top: 10px;
  font-family: arial, sans-serif;
}

h1 {
  margin-bottom: 10px;
}

ol {
  margin-left: -20px;
  margin-top: -10px;
}

.gameInstruction {
  display: block;
  position: relative;
  z-index: 8;
  top: 200px;
  width: 400px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: black;
  color: white;
}

.cover {
  display: block;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.8;
}

.inputName {
  display: block;
  position: relative;
  z-index: 10;
  top: 200px;
  width: 400px;
  height: 100px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

#board {
  border: 1px solid black;
  /*border-color: black;*/
  /*background-color:gray;*/
}

.gameBoard {
  display: block;
  position: absolute;
  top: 0;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.thisPlayer {
  display: block;
  float: right;
}

.title-left {
  display: block;
  float:left;
}

form input[type=text], form input[type=password] {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 10px;
  /*margin-bottom: 5px;*/
  margin-left: auto;
  margin-right: auto;
}







